backoff==2.1.2
aiohttp==3.8.1
aiohttp-apispec==2.2.3
aiohttp-security==0.4.0
aiohttp-session==2.9.0
async-timeout==4.0.2
confluent_kafka==1.8.2
dependency_injector==4.39.1
fastapi==0.79.0
fastavro==1.7.0
gunicorn==20.1.0
jsonschema==4.17.1
orjson==3.6.6
grpcio==1.47.0
grpcio-tools==1.47.0
protobuf==3.20.1
pydantic==1.9.1
requests==2.28.1
uvicorn==0.18.2
uvloop==0.16.0
wheel==0.37.1
starlette-context==0.3.4
opentelemetry-instrumentation-fastapi==0.33b0
PyJWT==2.4.0
